.AircraftView-root{
    color:white;
    margin: 10px;
    width: 80%;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 400px auto;
    
    & > img{
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        object-fit: cover;
        box-shadow: 0 0 5px black;
        margin:5px;
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 1;
        grid-row-end:2;
        align-self: center;
    }

    & > span {
        font-size: 1.5em;
        text-align: center;
        width: calc(100% - 10px);
        opacity: 0.7;
        background: linear-gradient(black, transparent);
        height: 60px;
        margin: 5px;
        padding-top:10px;
        grid-row-start:1;
        grid-row-end:2;
        grid-column-start:1;
        grid-column-end:2;
        user-select: none;
    }
}

.AircraftView-root-content{
    display:flex;
    flex-direction: column;
    grid-row-start:1;
    grid-row-end:3;
    box-shadow: 0 0 5px black;
    background: #777;
    margin: 5px 5px 5px 0px;
    padding:10px;
    align-self:flex-start;

    & > .AircraftView-root-content-header
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        & > span {
            font-size:1.5em;
        }
    }

    & > div {
        display:flex;
        flex-direction: column;
    }
}

.AircraftView-root-backbutton{
    position: absolute;
    top:25px;
    left:25px;
}

.AircraftView-root-info{
    grid-row-start:2;
    grid-row-end:3;
}

.AircraftView-root-extra{
    box-shadow: 0 0 5px black;
    background: #777;
    margin: 0px 5px 5px 5px;
    padding: 10px;
    white-space: pre-wrap;
    display:flex;
    align-self: flex-start;
    height:auto;
}

.AircraftView-root-tutorials{
    box-shadow: 0 0 5px black;
    background: #777;
    margin: 0px 5px 5px 5px;
    padding: 10px;
    white-space: pre-wrap;
    display:flex;
    align-self: flex-start;
    height:auto;
    flex-direction: column;

    &>ul{
        list-style: none;
        margin:0;
        padding: 0;
        &>a
        {
            text-decoration: none;
            color: white;
            &>li{
                box-shadow: 0 0 5px black;
                margin:5px;
                padding: 10px;
                cursor:pointer;
                font-weight: bold;
                background: #aaa;
                &:hover{
                    background: #999;
                }
            }
        }
    }
}

.WeaponGroup-root{
    display:flex;
    flex-direction: column;
    user-select: none;

    & > .WeaponGroup-root-header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.2em;
        background: #aaa;
        box-shadow: 0 0 5px black;
        padding: 5px;
        cursor: pointer;

        &:hover{
            background: #999;
        }

        & > .material-icons{
            align-self:center;
        }
    }

    & > .WeaponGroup-root-content{
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-start;
    }
}

.collapsed{
    height: 3px !important;
}

@media only screen and (max-width: 970px)
{
    .AircraftView-root{
        grid-template-rows: 200px auto;
    }
    
    .WeaponGroup-root > .WeaponGroup-root-content{
        justify-content: center;
    }
}

@media only screen and (max-width: 800px)
{
    .AircraftView-root{
        height:auto;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows:  auto auto auto;

        & > img{
            height: 100%;
            width: 100%;
            box-shadow: none;
            justify-self: center;
            grid-row-start:1;
            grid-row-end:2;
        }

        & > span {
            width: auto;
            height: 50px;
            font-size: 1.1em;
            margin:0px;
            grid-row-start:1;
            grid-row-end:2;
        }
    }

    .AircraftView-root-content{
        grid-column: 0/0;
        grid-row: 3/4;
        margin: 5px;
    }

    .AircraftView-root-info{
        grid-row: 2/3;
    }

    .AircraftView-root-backbutton{
        position: absolute;
        top:5px;
        left:5px;
    }
}
