.AircraftCard-root
{
    color:white;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    background: #777;
    width: 250px;
    height: 160px;
    position:relative;
    cursor:pointer;
    overflow: hidden;
    display:flex;

    &>img{
        max-width: 100%;
        align-self: center;
    }
    
    &>span{
        position: absolute; 
        top:0px;
        left:0px;
        width:calc(100% - 20px);
        height: 30%;
        padding:10px;
        background: linear-gradient(black, transparent);
        opacity: 0.5;
    }

    &:hover > span
    {
        opacity: 1.0;
    }
}

.AircraftCard-root-wip{
    outline:red 2px dashed;
}

@media only screen and (max-width: 800px)
{
    .AircraftCard-root{
        width: 170px;
        height: 109px;
    }
}