.WeaponCard-root{
    box-shadow: 0 0 5px black;
    margin: 10px;
    background: #999;
    cursor: pointer;
    width: 250px;
    height: 160px;
    position:relative;
    display:flex;
    overflow: hidden;

    &>img{
        max-width: 100%;
        align-self: center;
    }

    &>span{
        position: absolute; 
        top:0px;
        left:0px;
        color:white;
        align-self: center;
        text-align: center;
        background: linear-gradient(black, transparent);
        width:calc(100% - 20px);
        padding: 10px;
        opacity: 0.5;
    }

    &:hover{
        background: #888;

        &>span{
            opacity: 1;
        }
    }
}

.WeaponCard-root-wip{
    outline:red 2px dashed;
}

@media only screen and (max-width: 800px)
{
    .WeaponCard-root{
        width: 170px;
        height: 109px;
    }
}