.AircraftView-root{
    color:white;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    background: #777;
    width: 80%;
    height: 85vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.AircraftView-root>h1{
    font-size: 1.5em;
}