$transition-time: 200ms;

.app-header{
    background-color: #666;
    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 5px;
    transition: height $transition-time, background-color $transition-time, box-shadow $transition-time;
}

.app-header-link>p{
    color:white;
    margin: 0;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.app-header-link{
    text-decoration: none;
}

@media only screen and (max-width: 800px)
{
    .app-header{
        background-color: transparent;
        box-shadow: none;
        height: 55px;
        width: 100%;
    }
}