.AircraftCard-root
{
    color:white;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    background: #777;
    width: 200px;
    height: 250px;
}

.AircraftCard-root>img{
    max-width: 200px;
}