.SearchBar-root{
    display:flex;
    flex-direction: column;
    color: black;
}


.chip-active{
    background:#eb0 !important;
    color:black;

    &:hover{
        background:#fd2 !important;
    }

    &>.material-icons{
        display: block !important;
    }
}

.SearchBar-root-chips{
    margin: 0 15px 5px 15px;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color:white;

    &>div{
        display: flex;
        margin:5px;
        background:#999;
        padding: 5px 10px 5px 10px;
        border-radius: 1000px;
        box-shadow: 0 0 4px black;
        user-select: none;
        cursor: pointer;
        justify-items: center;

        &>.material-icons{
            display: none;
            opacity: 0.7;
            height: 1px;

            &:hover{
                opacity: 1.0;
            }
        }

        &:hover{
            background:#aaa;
        }
    }
}

.SearchBar-root-bar{
    background: #EEE;
    margin:15px 15px 5px 15px;
    border-radius: 1000px;
    box-shadow: 0px 0px 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.SearchBar-root-bar > input{
     background: none;
     border: none;
     margin:0px;
     padding:10px;
     padding-left:20px;
     font-size:1.2em;
     width: 100%;
}

.SearchBar-root-bar > input:focus{
    outline:none;
}

.SearchBar-root-bar > span{
    padding: 10px;
    padding-right:15px;
    margin: 0px;
    cursor: pointer;
    opacity: 0.5;
}

.SearchBar-root-bar >span:hover{
    opacity: 1.0;
}