.App {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.swipe-appear{
    transition: transform 300ms;
    transform: translateY(-100%);
}

.swipe-appear-active{
    transform: translateY(0);
}